h1, h2, h3, h4, h5, h6 {
	margin-top: .75em;
	margin-bottom: .25em;
	font-family: 'Cantarell', Arial;
	clear: both;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

.content {
    @include center-block;
}

.column {
    @include column;
}

ul {
    list-style-type: none;
}

p { 
    font-size: 16px; 
    font-weight: 300; 
    line-height: 1.5; 
    margin: 0 0 1.5em;
} 
strong { 
    font-weight: 700; 
} 
button, .button { 
    border: 5px solid; 
    font-size: 18px; 
    font-weight: 400; 
    letter-spacing: .3em; 
    padding: 30px 70px; 
    text-transform: uppercase; 
}

span {
	display: block;
}