header {
    background-color: rgba(0,0,0, 0.75);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    &:after {
        @include clearfix();
        @include clearfix-after();
    }
    h3 {
        color: $grey;
        border: 2px groove;
        width: 32%;
        border-radius: 10px;
        text-align: center;
        float: left;
        padding: 0;
        margin: 5px auto;
        span.blue {
            margin: 0 5px;
            display: inline;
            font-weight: bolder;
        }
    }
}