.contact {
    width: 100%;
    padding: 5em 0;
    background-color: $black;
    
    .content {
        .contact_img {
            color: $grey;
            float: left;
            &:after {
                @include clearfix();
                @include clearfix-after();
            }
            
            @media screen and (min-width: $query__small) {
                width: 90%;
                padding: 20% 5%;
            }
            
            @media screen and (min-width: $query__large) {
                width: 45%;
                padding: 0;
            }
            img {
                width: 100%;
                margin-bottom: 1em;
                border-radius: 10px;
                border: 2px groove $grey;
            }
            
            span {
                display: block;
                width: 100%;
                text-align: center;
            
                a {
                    text-decoration: none;
                    color: $blue;
                    &:hover {
                        color: $darkblue;
                    }
                }
            }
        }
        
        .contact_info {
            float: right;
            @media screen and (min-width: $query__small) {
                width: 90%;
                padding: 0 5%;
            }
            
            @media screen and (min-width: $query__large) {
                width: 45%;
                padding: 0;
            }
            
            h2 {
                color: #e0dfdc;
                letter-spacing: .1em;
                text-shadow: 
                  0 -1px 0 #fff, 
                  0 1px 0 #2e2e2e, 
                  0 2px 0 #2c2c2c, 
                  0 3px 0 #2a2a2a, 
                  0 4px 0 #282828, 
                  0 5px 0 #262626, 
                  0 6px 0 #242424, 
                  0 7px 0 #222, 
                  0 8px 0 #202020, 
                  0 9px 0 #1e1e1e, 
                  0 10px 0 #1c1c1c, 
                  0 11px 0 #1a1a1a, 
                  0 12px 0 #181818, 
                  0 13px 0 #161616, 
                  0 14px 0 #141414, 
                  0 15px 0 #121212, 
                  0 22px 30px rgba(0, 0, 0, 0.9);
                margin: 0;
                @media screen and (min-width: $query__small) {
                    text-align: center;
                }
                
                @media screen and (min-width: $query__large) {
                    text-align: left;
                }
            }
            
            ol {
                color: $grey;
                font-size: 1.5em;
            
                li {
                    padding: 0.2em;
                }
                
                li:first-child {
                    padding-top: 0;
                }
                
                li:last-child {
                    padding-bottom: 0;
                }
            
                span {
                    font-size: 0.65em;
                }
            }
            
            a {
                text-decoration: none;
                color: #06c1ff;
                border: 3px groove $grey;
                padding: 1em;
                border-radius: 10px;
                margin: 1em auto;
                display: block;
                text-align: center;
                &:hover {
                    color: $darkblue;
                    background: $grey;
                    border-color: $blue;
                }
                
                @media screen and (min-width: $query__small) {
                    width: 90%;
                }
                
                @media screen and (min-width: $query__large) {
                    width: 100%;
                }
            }
        }
    }
}